
experiments/test_fig_10.0.png
experiments/test_fig_107.0.png
experiments/test_fig_108.0.png
experiments/test_fig_114.0.png
experiments/test_fig_118.0.png
experiments/test_fig_12.0.png
experiments/test_fig_123.0.png
experiments/test_fig_133.0.png
experiments/test_fig_139.0.png
experiments/test_fig_14.0.png
experiments/test_fig_148.0.png
experiments/test_fig_159.0.png
experiments/test_fig_165.0.png
experiments/test_fig_167.0.png
experiments/test_fig_17.0.png
experiments/test_fig_171.0.png
experiments/test_fig_177.0.png
experiments/test_fig_178.0.png
experiments/test_fig_180.0.png
experiments/test_fig_182.0.png
experiments/test_fig_184.0.png
experiments/test_fig_186.0.png
experiments/test_fig_190.0.png
experiments/test_fig_192.0.png
experiments/test_fig_193.0.png
experiments/test_fig_194.0.png
experiments/test_fig_20.0.png
experiments/test_fig_201.0.png
experiments/test_fig_204.0.png
experiments/test_fig_207.0.png
experiments/test_fig_208.0.png
experiments/test_fig_21.0.png
experiments/test_fig_211.0.png
experiments/test_fig_214.0.png
experiments/test_fig_216.0.png
experiments/test_fig_219.0.png
experiments/test_fig_222.0.png
experiments/test_fig_226.0.png
experiments/test_fig_23.0.png
experiments/test_fig_28.0.png
experiments/test_fig_29.0.png
experiments/test_fig_3.0.png
experiments/test_fig_35.0.png
experiments/test_fig_38.0.png
experiments/test_fig_42.0.png
experiments/test_fig_48.0.png
experiments/test_fig_5.0.png
experiments/test_fig_52.0.png
experiments/test_fig_59.0.png
experiments/test_fig_61.0.png
experiments/test_fig_67.0.png
experiments/test_fig_68.png
experiments/test_fig_69.0.png
experiments/test_fig_75.png
experiments/test_fig_77.png
experiments/test_fig_79.0.png
experiments/test_fig_80.png
experiments/test_fig_86.0.png
experiments/test_fig_9.0.png
experiments/test_fig_91.0.png
experiments/test_fig_99.0.png
experiments/test_fig_192.0.png
experiments/test_fig_193.0.png
experiments/test_fig_194.0.png
experiments/test_fig_68.png
experiments/test_fig_75.png
experiments/test_fig_77.png
experiments/test_fig_80.png
experiments/test_fig_192.0.png
experiments/test_fig_193.0.png
experiments/test_fig_194.0.png
experiments/test_fig_68.png
experiments/alpha_vs_score/test_fig.png
experiments/alpha_vs_score/test_fig_1.0.png
experiments/alpha_vs_score/test_fig_10.0.png
experiments/alpha_vs_score/test_fig_103.0.png
experiments/alpha_vs_score/test_fig_105.0.png
experiments/alpha_vs_score/test_fig_111.0.png
experiments/alpha_vs_score/test_fig_118.0.png
experiments/alpha_vs_score/test_fig_12.0.png
experiments/alpha_vs_score/test_fig_124.0.png
experiments/alpha_vs_score/test_fig_126.0.png
experiments/alpha_vs_score/test_fig_135.0.png
experiments/alpha_vs_score/test_fig_144.0.png
experiments/alpha_vs_score/test_fig_146.0.png
experiments/alpha_vs_score/test_fig_150.0.png
experiments/alpha_vs_score/test_fig_154.0.png
experiments/alpha_vs_score/test_fig_16.0.png
experiments/alpha_vs_score/test_fig_160.0.png
experiments/alpha_vs_score/test_fig_161.0.png
experiments/alpha_vs_score/test_fig_164.0.png
experiments/alpha_vs_score/test_fig_168.0.png
experiments/alpha_vs_score/test_fig_171.0.png
experiments/alpha_vs_score/test_fig_172.0.png
experiments/alpha_vs_score/test_fig_174.0.png
experiments/alpha_vs_score/test_fig_175.0.png
experiments/alpha_vs_score/test_fig_178.0.png
experiments/alpha_vs_score/test_fig_179.0.png
experiments/alpha_vs_score/test_fig_18.0.png
experiments/alpha_vs_score/test_fig_182.0.png
experiments/alpha_vs_score/test_fig_183.0.png
experiments/alpha_vs_score/test_fig_186.0.png
experiments/alpha_vs_score/test_fig_187.0.png
experiments/alpha_vs_score/test_fig_188.0.png
experiments/alpha_vs_score/test_fig_189.0.png
experiments/alpha_vs_score/test_fig_191.0.png
experiments/alpha_vs_score/test_fig_192.0.png
experiments/alpha_vs_score/test_fig_193.0.png
experiments/alpha_vs_score/test_fig_194.0.png
experiments/alpha_vs_score/test_fig_195.0.png
experiments/alpha_vs_score/test_fig_196.0.png
experiments/alpha_vs_score/test_fig_198.0.png
experiments/alpha_vs_score/test_fig_199.0.png
experiments/alpha_vs_score/test_fig_2.0.png
experiments/alpha_vs_score/test_fig_202.0.png
experiments/alpha_vs_score/test_fig_203.0.png
experiments/alpha_vs_score/test_fig_206.0.png
experiments/alpha_vs_score/test_fig_208.0.png
experiments/alpha_vs_score/test_fig_209.0.png
experiments/alpha_vs_score/test_fig_210.0.png
experiments/alpha_vs_score/test_fig_211.0.png
experiments/alpha_vs_score/test_fig_25.0.png
experiments/alpha_vs_score/test_fig_29.0.png
experiments/alpha_vs_score/test_fig_33.0.png
experiments/alpha_vs_score/test_fig_35.0.png
experiments/alpha_vs_score/test_fig_4.0.png
experiments/alpha_vs_score/test_fig_42.0.png
experiments/alpha_vs_score/test_fig_44.0.png
experiments/alpha_vs_score/test_fig_45.png
experiments/alpha_vs_score/test_fig_49.0.png
experiments/alpha_vs_score/test_fig_50.png
experiments/alpha_vs_score/test_fig_54.0.png
experiments/alpha_vs_score/test_fig_55.png
experiments/alpha_vs_score/test_fig_56.0.png
experiments/alpha_vs_score/test_fig_59.0.png
experiments/alpha_vs_score/test_fig_6.0.png
experiments/alpha_vs_score/test_fig_65.png
experiments/alpha_vs_score/test_fig_66.0.png
experiments/alpha_vs_score/test_fig_68.png
experiments/alpha_vs_score/test_fig_73.0.png
experiments/alpha_vs_score/test_fig_75.png
experiments/alpha_vs_score/test_fig_77.png
experiments/alpha_vs_score/test_fig_8.0.png
experiments/alpha_vs_score/test_fig_80.0.png
experiments/alpha_vs_score/test_fig_80.png
experiments/alpha_vs_score/test_fig_81.png
experiments/alpha_vs_score/test_fig_83.0.png
experiments/alpha_vs_score/test_fig_85.png
experiments/alpha_vs_score/test_fig_87.0.png
experiments/alpha_vs_score/test_fig_9.0.png
experiments/alpha_vs_score/test_fig_90.png
experiments/alpha_vs_score/test_fig_93.0.png
experiments/alpha_vs_score/test_fig_98.0.png
experiments/test_fig_192.0.png
experiments/test_fig_193.0.png
experiments/test_fig_194.0.png
experiments/test_fig_68.png
experiments/test_fig_75.png
experiments/test_fig_77.png
experiments/test_fig_80.png
